.productPage {
  display: flex;
  margin-top: 80px;
}

.productPage_row {
  width: 100%;
  padding: 20px;
}

.productPage_row-gallery {
  display: flex;
  justify-content: space-between;
}

.productPage_row-gallery div {
  flex-basis: 24%;
  cursor: pointer;
}

.productPage_row img {
  width: 100%;
  padding: 0;
}

.productPage_row h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.productPage_row select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.productPage_row input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}

.productPage_row input:focus {
  outline: none;
}
