.product {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 100%;
}

.product h4 {
  color: #555;
  font-weight: normal;
}

.product p {
  font-size: 14px;
}

.rating {
  color: #ff523b;
}

/* media query for less than 600 screen size */
@media only screen and (max-width: 850px) {
  .product {
    flex-basis: 100%;
  }
}
